:root {
  /* Background colors*/
  --custom-background-color: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    #0a1324;
  --card-background-color: rgba(255, 255, 255, 0.08);
  --card-background-color-hover: rgba(255, 255, 255, 0.122);

  /* Font-families */
  --font-family-primary: "Raleway", sans-serif;

  /* Font colors */
  --font-color-primary: #fff;
  --font-color-secondary: #29a8ac;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-large: 18px;
}

/*next-fixture-container*/

.next-fixtures-container {
  box-sizing: border-box;
  color: white;
  background-color: rgb(128, 128, 128, 0.4);
  width: 40%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.next-fixture-row-h1 {
  margin: 0;
}

.next-fixture-row-h4 {
  margin: 0;
}

.next-fixture-row-h5 {
  margin: 0;
}

.next-fixture-row-h6 {
  margin: 0;
}

.next-fixture-row-span {
}

.next-fixture-row {
  border: 2px solid blue;
  background-color: rgb(128, 128, 128, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 18px;
}

.col-one {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.col-two {
  display: flex;
  border: 2px solid green;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.col-three {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.home-probability {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.draw-probability {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.away-probability {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.home-name,
.home-probability-label,
.draw-name,
.draw-probability-label,
.draw-text,
.away-name,
.away-probability-label {
  color: white;
  letter-spacing: 0.06em;
  font-size: 18px;
  background: rgb(95, 95, 95);
  padding: 2px;
  border-radius: 5px;
}

.home-name,
.draw-name,
.away-name {
  background: var(--custom-background-color);
  padding: 5px;
}
