:root {
  /* Background colors*/
  --custom-background-color: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    #0a1324;
  --card-background-color: rgba(255, 255, 255, 0.08);
  --card-background-color-hover: rgba(255, 255, 255, 0.122);

  /* Font-families */
  --font-family-primary: "Raleway", sans-serif;

  /* Font colors */
  --font-color-primary: #fff;
  --font-color-secondary: #29a8ac;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-large: 18px;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*next-fixtures-container*/
/*next-fixtures-container*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.next-fixture-row-h1,
.next-fixture-row-h4,
.next-fixture-row-h6 {
  margin: 0;
}

.next-fixtures-container {
  box-sizing: border-box;
  color: white;
  background-color: rgb(128, 128, 128, 0.4);
  width: 40%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 18px;
}

.next-fixture-row {
  background-color: rgb(128, 128, 128, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 18px;
  gap: 5px;
}

.col-one,
.col-two,
.col-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.home-probability-container,
.draw-probability-container,
.away-probability-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.home-name,
.draw-name,
.away-name {
  font-size: 18px;
  background: var(--custom-background-color);
}

/* Responsive Design */

/*Base Designs */
/*
.next-fixtures-container {
  box-sizing: border-box;
  color: white;
  background-color: rgb(128, 128, 128, 0.4);
  width: 40%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
*/

/*
.next-fixture-row {
  border: 2px solid blue;
  background-color: rgb(128, 128, 128, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 18px;
  gap: 5px;
}
*/

/*
.home-name,
.draw-name,
.away-name {
  font-size: 18px;
  background: var(--custom-background-color);
}
*/
@media (max-width: 500px) {
  .next-fixtures-container {
  }

  .next-fixture-row {
  }

  .home-name,
  .draw-name,
  .away-name {
  }
}

@media (max-width: 1000px) {
  .next-fixtures-container {
  }

  .next-fixture-row {
  }

  .home-name,
  .draw-name,
  .away-name {
  }
}
