:root {
  /* Background colors*/
  --custom-background-color: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    rgba(10, 19, 36, 1);

  /* 
  radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    #0a1324;
  */

  --card-background-color: rgba(255, 255, 255, 0.08);
  --card-background-color-hover: rgba(255, 255, 255, 0.122);

  /* Font-families */
  --font-family-primary: "Raleway", sans-serif;

  /* Font colors */
  --font-color-primary: #fff;
  --font-color-secondary: #29a8ac;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-large: 18px;
}

html {
  background: var(--custom-background-color);
}

body {
}

/* Leagues Section */

.leagues-section {
  height: 400px;
  background-image: url("./assets/images/fancy-crave-qowyMze7jqg-unsplash.jpg");
  background-size: cover;
  background-position: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* I want it to always be 2 rows */

.leagues-container {
  background-color: #444343;
  width: 400px;
  height: 250px;
  font-family: var(--font-family-primary);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.leagues-container h4 {
  color: white;
  margin: 0;
}

.four-leagues-container {
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.superleague-box,
.premier-league-box,
.laliga-box,
.bundesliga-box {
  box-sizing: border-box;
  color: var(--font-color-secondary);
  font-size: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.league-heading {
  margin: 0;
  padding: 0;
  color: var(--font-color-secondary);
}

.greek-flag,
.british-flag,
.spanish-flag,
.german-flag {
  width: 100%;
  aspect-ratio: 1/0.4;
  max-height: 100%;
}

.link-superleague,
.link-premier-league,
.link-laliga,
.link-bundesliga {
  color: inherit;
  text-decoration: none;
}

.link-league {
  color: inherit;
  text-decoration: none;
}

/* League Pages */

.keyboard-screen {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  z-index: 1;
}

.screen {
  margin: 0 20px;
  border: 1px solid rgb(128, 128, 128, 0.8);
  display: flex;
  justify-content: space-between;
  aspect-ratio: 2.5/1;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 15px;
  gap: 10px;
  min-height: 340px;
}

.all-fixtures-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-heading {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.hide-button {
  display: none;
}

.main-container {
  padding: 20px 60px;
  min-height: 100vh;
}

.laptop-next-fixtures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.laptop-next-fixtures > * {

}

/* Responsive Design */

/*Base Designs */

/*
.keyboard-screen {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  z-index: 1;
}



