:root {
  /* Background colors*/
  --custom-background-color: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    #0a1324;

  --card-background-color: rgba(255, 255, 255, 0.08);
  --card-background-color-hover: rgba(255, 255, 255, 0.122);

  /* Font-families */
  --font-family-primary: "Raleway", sans-serif;

  /* Font colors */
  --font-color-primary: #fff;
  --font-color-secondary: #29a8ac;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-large: 18px;
}

html {
  background: var(--custom-background-color);
}

body {
}

/* Leagues Section */

.leagues-section {
  height: 400px;
  background-image: url("./assets/images/fancy-crave-qowyMze7jqg-unsplash.jpg");
  background-size: cover;
  background-position: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* I want it to always be 2 rows */

.leagues-container {
  background-color: #444343;
  width: 400px;
  height: 250px;
  font-family: var(--font-family-primary);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.leagues-container h4 {
  color: var(--font-color-secondary);
  margin: 0;
}

.four-leagues-container {
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.superleague-box {
  flex: 1;
  box-sizing: border-box;
  position: relative;
  color: purple;
  font-size: 25px;
  height: 100px;
}

.greek-flag {
  width: 100%;
  max-height: 100%;
}

.link-superleague {
  color: inherit;
  text-decoration: none;
  position: absolute;
  left: 5px;
  top: 5px;
}

.premier-league-box {
  flex: 1;
  box-sizing: border-box;
  position: relative;
  color: purple;
  font-size: 25px;
  height: 100px;
}

.british-flag {
  width: 100%;
  max-height: 100%;
}

.link-premier-league {
  color: inherit;
  text-decoration: none;
  position: absolute;
  left: 5px;
  top: 5px;
}

.laliga-box {
  flex: 1;
  position: relative;
  color: purple;
  font-size: 25px;
  margin-bottom: 10px;
  width: 150px;
  height: 100px;
}

.spanish-flag {
  width: 100%;
  max-height: 100%;
}

.link-laliga {
  color: inherit;
  text-decoration: none;
  position: absolute;
  left: 20px;
  top: 20px;
}

.bundesliga-box {
  flex: 1;
  position: relative;
  color: purple;
  font-size: 25px;
  margin-bottom: 10px;
  width: 150px;
  height: 100px;
}

.german-flag {
  width: 100%;
  max-height: 100%;
}

.link-bundesliga {
  color: inherit;
  text-decoration: none;
  position: absolute;
  left: 20px;
  top: 20px;
}

.link-league {
  color: inherit;
  text-decoration: none;
}
