:root {
  --full-page-background: linear-gradient(90deg, #511557, #030c3c);
  --full-page-background-transparent: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    rgba(10, 19, 36, 0.6);

  /*
  linear-gradient(
    90deg,
    rgba(81, 21, 87, 0.7),
    rgba(3, 12, 60, 0.7)
  );
  */
  --cta-container-background: linear-gradient(90deg, #ba19ff, #672769);
  --custom-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tiny-font-size: 20px;
  --small-font-size: 40px;
  --medium-font-size: 25px;
  --large-font-size: 80px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.6),
      rgba(10, 19, 36, 1)
    ),
    url("./assets/images/fancy-crave-qowyMze7jqg-unsplash.jpg");
  background-size: cover;
}

.main-container {
  height: 100vh;
  padding: 40px;
}

.container {
  min-height: 100%;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo {
  width: 150px;
  border-radius: 15px;
}

.main-content {
  display: flex;
  gap: 40px;
}

.left-content {
  width: 60%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}

h1 {
  font-family: var(--custom-font-family);
  color: white;
  font-size: var(--large-font-size);
  line-height: 1.2em;
}

h2 {
  color: white;
  font-family: var(--custom-font-family);
  font-size: var(--small-font-size);
  font-weight: 400;
  text-decoration: underline;
}
.cta {
  padding: 6px;
  background: var(--cta-container-background);
  color: white;
  font-size: var(--medium-font-size);
  transform: skew(-20deg);
  align-self: flex-start;
  cursor: pointer;
  font-weight: 700;
}

.right-content {
  width: 40%;
  display: flex;
  gap: 10px;
  min-height: 400px;
  padding-left: 60px;
}

.quotes-container-left {
  display: flex;
  gap: 5px;
  transform: skew(-20deg);
  align-self: flex-start;
}

.quotes-container-right {
  display: flex;
  gap: 5px;
  transform: skew(-20deg);
  justify-self: center;
  align-self: flex-end;
}

.quote {
  width: 10px;
  height: 40px;
  border: 2px solid white;
}

.video-container {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  transform: skew(-20deg);
}

.match-video {
  width: 100%;
}

@media (max-width: 1100px) {
  .container {
    padding: 20px 0px;
  }

  .main-content {
    margin-top: 70px;
  }

  .left-content {
    width: 50%;
  }

  .right-content {
    width: 50%;
    padding-left: 20px;
  }

  .video-container {
  }
}

@media (max-width: 1000px) {
  .logo {
    margin-left: 60px;
  }

  .main-content {
    flex-direction: column;
    margin-top: 0px;
    padding: 0 60px;
  }

  .left-content {
    width: 100%;
    box-sizing: border-box;
    align-self: flex-start;
  }

  .right-content {
  }
}
