:root {
  /* Background colors*/
  --custom-background-color: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    #0a1324;

  --card-background-color: rgba(255, 255, 255, 0.08);
  --card-background-color-hover: rgba(255, 255, 255, 0.122);

  /* Font-families */
  --font-family-primary: "Raleway", sans-serif;

  /* Font colors */
  --font-color-primary: #fff;
  --font-color-secondary: #29a8ac;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-large: 18px;
}

html {
  background: var(--custom-background-color);
}

body {
}

/* Leagues Section */

.leagues-section {
  height: 400px;
  background-image: url("./assets/images/fancy-crave-qowyMze7jqg-unsplash.jpg");
  background-size: cover;
  background-position: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* I want it to always be 2 rows */

.leagues-container {
  background-color: #444343;
  width: 400px;
  height: 250px;
  font-family: var(--font-family-primary);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.leagues-container h4 {
  color: white;
  margin: 0;
}

.four-leagues-container {
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.superleague-box,
.premier-league-box,
.laliga-box,
.bundesliga-box {
  box-sizing: border-box;
  color: var(--font-color-secondary);
  font-size: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.league-heading {
  margin: 0;
  padding: 0;
  color: var(--font-color-secondary);
}

.greek-flag,
.british-flag,
.spanish-flag,
.german-flag {
  width: 100%;
  aspect-ratio: 1/0.4;
  max-height: 100%;
}

.link-superleague,
.link-premier-league,
.link-laliga,
.link-bundesliga {
  color: inherit;
  text-decoration: none;
}

.link-league {
  color: inherit;
  text-decoration: none;
}

/* League Pages */

.keyboard-screen {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  z-index: 1;
}

.screen {
  margin: 0 20px;
  border: 1px solid rgb(128, 128, 128, 0.8);
  display: flex;
  justify-content: space-between;
  aspect-ratio: 2.5/1;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 15px;
  gap: 10px;
}

.all-fixtures-div {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-heading {
  border: 2px solid green;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.hide-button {
  display: none;
}

.laptop-next-fixtures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 890px) {
  .screen {
    aspect-ratio: 2/1;
  }

  .fixtures-row {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .laptop-next-fixtures {
    flex-direction: column;
  }

  .all-teams-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .screen {
    height: 250px;
  }

  .fixtures-row {
    border: 4px solid brown;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .fixtures-row-away-name {
    order: 0;
  }

  .fixtures-row-away-goals {
    order: 1;
  }

  .team-name {
    font-size: 12px;
  }

  .navigation-bar-container {
    padding: 0 20px;
  }

  .nav-menu {
    gap: 20px;
  }

  .nav-menu a {
    font-size: 16px;
  }

  .logo-image {
    width: 60px;
  }

  .next-fixtures-container {
    max-width: 100%;
  }

  .team-div {
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /* single */
  .team-div:hover {
    background-color: rgba(128, 128, 128, 1);
    cursor: pointer;
  }
  /* single */
  .team-div span {
    margin: 0;
    text-align: center;
    color: white;
  }
}
