:root {
  /* Background colors*/
  --custom-background-color: radial-gradient(
      circle at bottom,
      rgba(0, 182, 185, 0.4),
      transparent
    ),
    #0a1324;
  --card-background-color: rgba(255, 255, 255, 0.08);
  --card-background-color-hover: rgba(255, 255, 255, 0.122);

  /* Font-families */
  --font-family-primary: "Raleway", sans-serif;

  /* Font colors */
  --font-color-primary: #fff;
  --font-color-secondary: #29a8ac;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-large: 18px;
}

html {
  background: var(--custom-background-color);
}

body {
}

.screen {
  display: flex;
  gap: 10px;
}

.all-fixtures-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-heading {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hide-button {
  display: none;
}

.laptop-next-fixtures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
