h4 {
  margin: 0;
}

h5 {
  margin: 0;
}
/* single */

.all-teams-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid rgb(128, 128, 128, 0.8);
  background-color: rgb(128, 128, 128, 0.2);
  color: white;
  padding: 10px;
  width: 100%;
  max-width: 1100px;
  z-index: 2;
}
/* single */
.row {
  display: flex;
  gap: 5px;
}
/* single */
.team-div {
  border: 2px solid red;
  background-color: rgb(128, 128, 128, 0.4);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* single */
.team-div:hover {
  background-color: rgb(128, 128, 128, 1);
  cursor: pointer;
}
/* single */
.team-div h4 {
  margin: 0;
  text-align: center;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(41, 168, 172));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  flex-grow: 1;
}
/* single */
.team-div h4:hover {
  background: white;
  -webkit-background-clip: text;
}

/* single */
.team-logo-name-div {
  display: flex;
  justify-content: center;
  all: unset;
}
/* single */
.logo-name {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
}
/* single */
.team-logo {
  width: 20px;
  height: 20px;
}
/* single */
.team-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
