/* fixtures-roe*/
.data-div {
  height: max-content;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(128, 128, 128, 0.2);

  transform: translateY(50%);
  opacity: 0;
  transition: opacity, transform, ease-in-out, 2s;
}

.show {
  transform: translateY(0);
  opacity: 1;
}
/* fixtures-roe*/
.row {
  box-sizing: border-box;
  display: flex;
  gap: 40px;
  justify-content: center;
}
/* fixtures-roe*/
.home-name-goals-col {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.away-name-goals-col {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 15px;
}

.away-goals {
}

.away-name {
}
/* fixtures-roe*/
.data-div h4 {
  margin: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(41, 168, 172));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
