/* fixtures-roe*/
.data-div {
  border-radius: 6px;
  height: max-content;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.08);
  /* background-color: rgb(128, 128, 128, 0.2); */
  transform: translateY(100%);
  opacity: 0;
  transition: opacity, transform, ease-in-out, 2s;
  padding: 10px 20px;
}

.show {
  transform: translateY(0);
  opacity: 1;
}
/* fixtures-roe*/
.fixtures-row {
  box-sizing: border-box;
  display: grid;
  gap: 50px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
/* fixtures-roe*/
.home-name-goals-col {
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 19, 36, 0.6);
}

.away-name-goals-col {
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 19, 36, 0.6);
}

/* fixtures-row*/
.data-div span {
  font-size: 18px;

  /*
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(41, 168, 172));
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  */
}

.fixtures-row-home-name {
  color: rgb(109, 246, 255);
  margin: 0;
  padding: 0;
}

.fixtures-row-away-name {
  color: rgb(109, 246, 255);
  margin: 0;
  padding: 0;
}

.fixtures-row-home-goals {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.fixtures-row-away-goals {
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
