.close-button-container {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  display: inline-block;
  background-color: rgb(236, 104, 104);
  display: flex;
  align-items: center;
  height: 20px;
  cursor: pointer;
}

.close-icon {
}
